---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>

		<h1>About Me</h1>
    <h2>... and my new Diary!</h2>

    <p>This is my online diary. Here I will write my thoughts on various topics.</p>
    <p>And I will also write my travel experiences and how I learn new things.</p>
    <p>Happy reading 💖</p>
	</body>
</html>
